// fonts
$ui-font-size: 1.6rem;
$ui-font-weight: 300;
$ui-line-height: 1.5;

// colours
$col-default: #999;

$col-primary: #888;
$col-secondary: #666;
$col-success: green;
$col-warning: orange;
$col-alert: red;

$col-white: white;
$col-light-grey: #dfdfdf;
$col-medium-grey: #b1b1b1;
$col-dark-grey: #494949;
$col-black: #000;

// layout
$ui-max-width: 144rem;
$ui-space-lrg: 4rem;
$ui-space-med: 2rem;
$ui-space-sml: 1rem;
